<section class="features">
  <div class="container">
    <h2 class="visually-hidden">Features</h2>
    <ul class="features-list list">
      <li class="features-item">
        <h3 class="features-list-title">Feature one</h3>
        <p class="features-text">
          All base UI elements are made using Nested Symbols and shared styles
          that are logically connected with one another.
        </p>
      </li>
      <li class="features-item">
        <h3 class="features-list-title">Feature two</h3>
        <p class="features-text">
          All base UI elements are made using Nested Symbols and shared styles
          that are logically connected with one another.
        </p>
      </li>
      <li class="features-item">
        <h3 class="features-list-title">Feature three</h3>
        <p class="features-text">
          All base UI elements are made using Nested Symbols and shared styles
          that are logically connected with one another.
        </p>
      </li>
    </ul>
  </div>
</section>
